.section {
    margin-top: 10px;
    box-shadow: 0 0 5px #ddd;
}

.section__header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin: 2px 5px;
    background-color: #fff;
}

@media (max-width: 767px) {
    .section__header {
        flex-direction: column;
    }
}