.tasksList {
    padding: 20px;
    margin: 2px 5px;
    background-color: #fff;
    list-style-type: none;
}

.tasksList__item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 10px;
    align-items: center;
    padding: 10px;
    border-bottom: 2px solid #eee;
    margin-bottom: 10px;
}

.taskList__item--hide {
    display: none;
}

.tasksList__spanTask {
    color: #666;
    overflow-wrap: anywhere;
    word-break: break-word;
}

.tasksList__spanTask--done {
    text-decoration: line-through;
}

.tasksList__button {
    color: #eee;
    background-color: hsl(0, 100%, 50%);
    border: none;
    width: 30px;
    height: 30px;
    font-size: 10px;
    cursor: pointer;
    transition: background-color .5s linear;
}

.tasksList__button:hover {
    background-color: hsl(0, 100%, 60%);
}

.tasksList__button:active {
    background-color: hsl(0, 100%, 70%);
}

.tasksList__button--done {
    margin-right: 10px;
    background-color: hsl(120, 100%, 25%);
}

.tasksList__button--done:hover {
    background-color: hsl(120, 100%, 35%);
}

.tasksList__button--done:active {
    background-color: hsl(120, 100%, 45%);
}